
body {
	background-color: #f8f8f8;
}

#main {
	width: 750px;
	margin: 50px auto;
	text-align: center;
	color: #222;
	font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
    line-height: 1.4;
}

/**
 * Styling for rendered content from a file or from YAML.
 * Maintains line spacing.
 */
.rendered-content {
	text-align: left;
	white-space: pre-line;
}
