
body {
	background-color: #f8f8f8;
    color: #222;
    font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
    line-height: 1.4;
}

.main {
	width: 1150px;
	margin: 50px auto;
	text-align: center;
}

.inline .default_question  {
	font-size: 18px !important;
}

.ui.large.checkbox {
	font-size: 18px !important;
}

/**
 * Styling for rendered content from a file or from YAML.
 * Maintains line spacing.
 */
.rendered-content {
	text-align: left;
	white-space: pre-line;
}

.rendered-content img {
    display: block;
    margin: 0 auto;
}
