
/*
	TextPage
*/
#title {
	font-size: 30px;
	font-style: bold;
	text-align: center;
}
#content {
	margin-top: 20px;
	text-align: center;
}
#buttons {
	margin-top: 20px;
	text-align: center;
}

#question {
    text-align: center;
    font-family: "Lucida Grande";
    font-size: 14px;
    width: 600px;
    margin: 0 auto;
}

#triangleCanvas {
    margin: 20px auto;
}

#answers {
	margin-top: 20px;
	text-align: center;
}
#answers label {
	margin-left: 4px;
	margin-right: 20px;
}