<div class="ui form">
	<div class="default_question">{{data.question}}</div>
    <div id="answers" class="grouped inline fields">
        {{#each data.answers}}
        <div class="field">
            <div class="ui large radio checkbox">
                <input type="radio" name="questionAnswer" id="questionAnswer-{{@index}}" value="{{@index}}" />
                <label for="questionAnswer-{{@index}}">
                    {{#if ../showAnswerLabels}} {{answerLabel @index}} {{/if}}
                    {{this}}
                </label>
            </div>
        </div>
        {{/each}}
    </div>
</div>
