<div class="ui form">
	<div class="default_question">{{{data.question}}}</div>
    <div class="ui left aligned basic segment">
        <div class="grouped inline fields">
            {{#each data.answers}}
            <div class="field">
                <div class="ui large radio checkbox">
                    <input type="radio" name="questionAnswer" id="questionAnswer-{{@index}}" value="{{this}}" />
                    <label for="questionAnswer-{{@index}}">
                        {{#if ../[show answer labels]}}{{answerLabel @index}}) {{/if}}
                        {{{this}}}
                    </label>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
